#control-bar {
  margin: 0 auto;
  background-color: $gray-text;
  color: white;

  .container {
    margin: 0 auto;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  .site-actions {
    @include clearfix;
    float: right;

    a {
      display: inline-block;
      font-size: 0.9em;
      padding: 12px 10px;

      &:hover {
        background-color: $blue;
      }
    }

  }
}