/* 

This is a manifest file that imports the listed stylesheets and compresses down to a single file, making things fast and sexy.

*/

//-- LIB/IMPORTS
//------------------------------------
//= require lib/cheeky.min
@import "lib/variables";
@import "lib/mixins";
@import "components/alerts";
@import "components/buttons";
@import "components/control_bar";
@import "components/footer";

@import "forms";
@import "groups";



//-- LAYOUT
//------------------------------------
body {
  background-color: #f9f9f9;
  color: $gray-text;
  font-family: 'Helvetica Neue';
}

.container {
  margin: 25px auto;
}


//-- TYPOGRAPHY
//------------------------------------
// Headers
.main-title {
  font-size: 3em;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

// Links
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


//-- LIB CLASSES
//------------------------------------
.left { float: left; }
.right { float: right; }