/* 

This is a manifest file that imports the listed stylesheets and compresses down to a single file, making things fast and sexy.

*/

//-- LIB/IMPORTS
//------------------------------------
//= require cheeky.min
@import "variables";
@import "mixins";

@import "forms";
@import "groups";


//-- LAYOUT
//------------------------------------
body {
  background-color: #f9f9f9;
  font-family: 'Helvetica Neue';
  color: $gray-text;
}

.container {
  margin: 25px auto;
}


//-- TYPOGRAPHY
//------------------------------------
// Headers
.main-title {
  font-size: 3em;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

// Links
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


//-- LIB CLASSES
//------------------------------------
// Buttons
.btn {
  @include bluebutton;
}

.btn-large {
  padding: 10px;
}

// Positioning
.left { float: left; }
.right { float: right; }